{% trans_default_domain "NitraSetsBundle" %}

{% if sets is not empty %}
    <div class="sets_block">
        {% block sets %}
            {% block sets_title %}<div class="title">{{ 'sets.title'|trans }}</div>{% endblock sets_title %}
            <div class="set">
                 {% block set_carousel %}    
                <div class="carousel_block">
                    <div class="carousel_list" id="sets_carousel_1">
                        <ul id="carousel_1">
                        {% for set in sets %}
                             <li class="set_item item">
                                <input class="set_id" type="hidden" name="set_id" value="{{ set.id }}">
                            {% block set %}
                                {# Вывод названия сета #}
                                {% block set_name %}{#<h3>{{ set.name }}</h3>#}{% endblock set_name %}
                                {% block set_main_item %}
                                    <div class="set_item main_item" id="main_prod_1"> 
                                        {% block set_main_item_content %}
                                            {% block set_main_image %}
                                                <img src="{{ set.mainProduct.image|default('images/no_image.jpg')|imagine_filter('set_thumb',true) }}" alt="{{ set.mainProduct.shortFullName }}" />
                                            {% endblock set_main_image %}

                                            {% block set_main_name %}
                                                <span class="name">{{ set.mainProduct.shortFullName }}</span>
                                            {% endblock set_main_name %}

                                            {% block set_main_price_block %}
                                                <div class="price_box">
                                                    {% block set_main_price %}
                                                        <span class="price" data-value="{{ set.mainProduct.storePrice[store.id].price }}">{{ set.mainProduct.storePrice[store.id].price|price }}</span>
                                                    {% endblock set_main_price %}
                                                    {% block set_main_old_price %}
                                                        {% if set.mainDiscount > 0 %}
                                                            <span class="old_price" data-value="{{ set.mainProduct.storePrice[store.id].sourcePrice }}">{{ set.mainProduct.storePrice[store.id].sourcePrice|price }}</span>
                                                        {% else %}
                                                            <span style="display:none;" class="old_price" data-value="{{ set.mainProduct.storePrice[store.id].price }}">{{ set.mainProduct.storePrice[store.id].price|price }}</span>     
                                                        {% endif %}
                                                    {% endblock set_main_old_price %}
                                                </div>
                                            {% endblock set_main_price_block %}
                                        {% endblock set_main_item_content %}
                                    </div>
                                {% endblock set_main_item %}

                                {% block set_icon_plus %}
                                    <span class="plus">{{ 'sets.plus'|trans }}</span>
                                {% endblock set_icon_plus %}

                                {% for entrie in set.setEntries %}

                                        {% block set_product %}   
                                            <a href="{{ path('product_page', {'slug': entrie.product.alias}) }}" class="info">
                                                {% block set_product_link %}  
                                                    {% block set_entrie_image %}
                                                        <img src="{{ entrie.product.image|default('images/no_image.jpg')|imagine_filter('set_thumb',true) }}" alt="{{ entrie.product.shortFullName }}" />
                                                    {% endblock set_entrie_image %}

                                                    {% block set_entrie_name %}
                                                        <span class="name">{{ entrie.product.shortFullName }}</span>
                                                    {% endblock set_entrie_name %}
                                                {% endblock set_product_link %} 
                                            </a>
                                            {% block set_price_block %} 
                                                <div class="price_box">
                                                    {% block set_price %}
                                                        <span class="price" data-value="{{ entrie.product.storePrice[store.id].price }}">{{ entrie.product.storePrice[store.id].price|price }}</span>
                                                    {% endblock set_price %}
                                                    {% block set_old_price %}
                                                        {% if entrie.discount > 0 %}
                                                            <span class="old_price" data-value="{{ entrie.product.storePrice[store.id].sourcePrice }}">{{ entrie.product.storePrice[store.id].sourcePrice|price }}</span>
                                                        {% else %}
                                                            <span style="display:none;" class="old_price" data-value="{{ entrie.product.storePrice[store.id].price }}">{{ entrie.product.storePrice[store.id].price|price }}</span>     
                                                        {% endif %}
                                                    {% endblock set_old_price %}
                                                </div>
                                            {% endblock set_price_block %} 
                                            {% block set_checkbox %}
                                                <input class="set_product" discount="{{ entrie.discount }}" onchange="RecalculateSet({{ loop.parent.loop.index0 }}, $(this), '{{ set.id }}', {{ set.mainDiscount }});" type="checkbox" name="set_product[]" value="{{ entrie.product.id }}"{{ loop.first ? 'checked="checked"' }}>
                                            {% endblock set_checkbox %}
                                        {% endblock set_product %}

                                {% endfor %}

                                {% block set_icon_summ %}
                                    <span class="summ">{{ 'sets.summ'|trans }}</span>
                                {% endblock set_icon_summ %}

                                {% block set_summ %}
                                    <div id="block_price_{{ loop.index0 }}" class="block_price_{{ loop.index0 }} block_price">
                                        {% block set_summ_price_block %}
                                            <div class="price_box">
                                                {% block set_summ_price %}
                                                    <span class="price"><span>{{ set.mainProduct.storePrice[store.id].price }}</span><small>&thinsp;{{ 'currency'|trans({}, "NitraStoreBundle") }}</small></span>
                                                {% endblock set_summ_price %}

                                                {% block set_summ_old_price %}
                                                    {% if set.mainDiscount > 0 %}
                                                        <span class="old_price"><span>{{ set.mainProduct.storePrice[store.id].sourcePrice }}</span><small>&thinsp;{{ 'currency'|trans({}, "NitraStoreBundle") }}</small></span>
                                                    {% else %}
                                                        <span class="old_price" style="display: none;"><span>{{ set.mainProduct.storePrice[store.id].price }}</span><small>&thinsp;{{ 'currency'|trans({}, "NitraStoreBundle") }}</small></span>
                                                    {% endif %}
                                                {% endblock set_summ_old_price %}
                                            </div>
                                        {% endblock set_summ_price_block %}
                                        {% block set_button %}
                                            <a class="colorbox button_buy_set" href="{{ path('order_page', {'productId' : set.mainProduct.id})}}"><span>{{ 'sets.button'|trans|raw }}</span></a>
                                        {% endblock set_button %}
                                    </div>
                                {% endblock set_summ %}
                            {% endblock set %}
                            {% block set_carousel_script %}  
                                {# настройки карусели http://bxslider.com/options #}
                                <script type="text/javascript">
                                    var items_count = {{ set.setEntries|length }}; 
                                    var el_width = $('#carousel_{{ loop.index0 }} .item').outerWidth();
                                    var el_margin = $('#carousel_{{ loop.index0 }} .item').css("marginRight");
                                    $(document).ready(function(){
                                        $("#carousel_{{ loop.index0 }}").bxSlider({ 
                                            pager:              false,
                                            infiniteLoop:       false,
                                            hideControlOnEnd:   true,
                                            nextText:           "{{ 'sets.carousel.link_next'|trans }}",
                                            prevText:           "{{ 'sets.carousel.link_prev'|trans }}",
                                            {% block carousel_options %}
                                                slideWidth:     el_width,
                                                slideMargin:    el_margin,
                                                maxSlides:      items_count
                                            {% endblock carousel_options %}
                                        });
                                    });
                                </script>
                            {% endblock set_carousel_script %} 
                            </li> 
                        {% endfor %}
                </ul>
                    </div>
                </div>
            {% endblock set_carousel %}
            </div>
            
            
            {% block sets_script %}  
                <script type="text/javascript">
                    function RecalculateSet(carousel, elem, set_id, main_discount){
                        var product_id = elem.val(),
                            sets_products = [],
                            sets_discounts = [];
                        $('#sets_carousel_' + carousel + ' .set_product[value="' + product_id + '"]').attr('checked', elem.is(':checked'));
                        var price = price_sum(carousel,'price');
                        var oldPrice = price_sum(carousel,'old_price');
                        $('.block_price_' + carousel + ' .price span').text(price);
                        $('.block_price_' + carousel + ' .old_price span').text(oldPrice);
                        if (price == oldPrice) {
                            $('.block_price_' + carousel + ' .old_price').fadeOut(0);
                        } else {
                            $('.block_price_' + carousel + ' .old_price').fadeIn(0);
                        }

                        $('#sets_carousel_' + carousel + ' input.set_product:checked').each(function(i){
                            if($.inArray($(this).val(), sets_products) == -1){
                                sets_products[i] = $(this).val();
                                sets_discounts[i] = $(this).attr('discount');
                            }
                        });
                        $('#block_price_' + carousel + ' .button_buy_set').colorbox({data:{sets_products:sets_products, sets_discounts:sets_discounts, set_id:set_id, main_discount:main_discount}});
                    };

                    function price_sum(carousel,price_type){
                        var main = $('#main_prod_' + carousel + ' .' + price_type).attr('data-value');
                        if ((price_type == 'old_price') && (typeof main == 'undefined')) {
                            main = $('#main_prod_' + carousel + ' .price').attr('data-value');
                        }
                        var main_price = Number(main),
                        price_sum = main_price,
                        products = [];
                          
                        $("#sets_carousel_" + carousel + " .item").each(function(i){
                            var product_id = $(this).find('.set_product').val();
                            if($(this).find('.set_product').is(':checked') && $.inArray(product_id, products) == -1){
                                products[i] = product_id;
                                var d_value = $(this).find('.' + price_type).attr('data-value');
                             
                                if((price_type == 'old_price') && (typeof d_value == 'undefined')){
                                    d_value = $(this).find('.price').attr('data-value');
                                }
                                
                                price_sum = (Number(d_value) + Number(price_sum));
                            }
                        });
                        return price_sum.toFixed();
                    }

                    $(function(){
                        $('.carousel_list input.set_product:checked').trigger('change');
                    });
                </script>
            {% endblock sets_script %}  
        {% endblock sets %}
    </div>
{% endif %}